In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('ted_data_clean.csv')
df.head()

,description,duration,event,film_date,languages,main_speaker,name,num_speaker,speaker_occupation,tags,...,Is Advocate?,Is Philosopher?,Is Founder?,Is Entrepreneur?,Is Actor?,Is Comedian?,Is Psychologist?,Is Activist?,Is Muscian?,Is Engineer?
0,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,Author/educator,"children, creativity, culture, dance, educatio...",...,0,0,0,0,0,0,0,0,0,0
1,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,Climate advocate,"alternative energy, cars, climate change, cult...",...,1,0,0,0,0,0,0,0,0,0
2,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,Technology columnist,"computers, entertainment, interface design, me...",...,0,0,0,0,0,0,0,0,0,0
3,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,Activist for environmental justice,"MacArthur grant, activism, business, cities, e...",...,0,0,0,0,0,0,0,1,0,0
4,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,Global health expert; data visionary,"Africa, Asia, Google, demo, economics, global ...",...,0,0,0,0,0,0,0,0,0,0

In [2]:
# Explatory Data Analysis
# Find all qualtitative and quantitative data fields
# Which ted talk had the most views?
# Is there a relationship between duration of ted talk and views?
# Is there a relationship between number of speakers and ted talk popularity?
# Relationship between occupation and ted talk?

In [3]:
df.describe()

,duration,film_date,languages,num_speaker,views,Number of Tags,Is Philanthropist,Is Author?,Is Educator?,Is Advocate?,Is Philosopher?,Is Founder?,Is Entrepreneur?,Is Actor?,Is Comedian?,Is Psychologist?,Is Activist?,Is Muscian?,Is Engineer?
count,2550.000000,2.550000e+03,2550.000000,2550.000000,2.550000e+03,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000,2550.000000
mean,826.510196,1.321928e+09,27.326275,1.028235,1.698297e+06,7.511373,0.007059,0.036471,0.022353,0.019216,0.014118,0.008627,0.039608,0.007451,0.007843,0.022745,0.056863,0.012549,0.021961
std,374.009138,1.197391e+08,9.563452,0.207705,2.498479e+06,4.309849,0.083736,0.187495,0.147858,0.137309,0.117999,0.092501,0.195074,0.086014,0.088231,0.149119,0.231626,0.111339,0.146584
min,135.000000,7.464960e+07,0.000000,1.000000,5.044300e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,577.000000,1.257466e+09,23.000000,1.000000,7.557928e+05,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,848.000000,1.333238e+09,28.000000,1.000000,1.124524e+06,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1046.750000,1.412964e+09,33.000000,1.000000,1.700760e+06,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5256.000000,1.503792e+09,72.000000,5.000000,4.722711e+07,32.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
# Field types 
cols = df.columns
cols

Index(['description', 'duration', 'event', 'film_date', 'languages',
       'main_speaker', 'name', 'num_speaker', 'speaker_occupation', 'tags',
       'title', 'url', 'views', 'Year', 'Number of Tags', 'Is Philanthropist',
       'Is Author?', 'Is Educator?', 'Is Advocate?', 'Is Philosopher?',
       'Is Founder?', 'Is Entrepreneur?', 'Is Actor?', 'Is Comedian?',
       'Is Psychologist?', 'Is Activist?', 'Is Muscian?', 'Is Engineer?'],
      dtype='object')

In [ ]:
# QUANTITATIVE DATA
df.select_dtypes(include=['number'])

In [ ]:
# QUALITATIVE DATA
df.select_dtypes(include=['object_'])

In [ ]:
# Which Ted Talk generated the most views
df.loc[df['views'] == df['views'].max()]

In [ ]:
# Create a histogram to visualize relationship between views and duration of talk
duration_views = df[['duration', 'views']]
duration_views['views'].hist(by=duration_views['duration'])
duration_views